# Arc Testnet deployer private key (funded with USDC + EURC from faucet.circle.com)
ARC_PRIVATE_KEY=
PRIVATE_KEY=
ARC_RPC_URL=https://rpc.testnet.arc.io
AGENT_ADDRESS=
WAREHOUSE_ADDRESS=
SUPPLIER_ADDRESS=
SUPPLIER_WALLET=
